<%= form_with(model: userd, local: true) do |form| %>
  <% if userd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userd.errors.count, "error") %> prohibited this userd from being saved:</h2>

      <ul>
      <% userd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :userd_name %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade, id: :userd_grade %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :userd_password %>
  </div>

  <div class="field">
    <%= form.label :registered_at %>
    <%= form.datetime_select :registered_at, id: :userd_registered_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :userd_updated_at %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at, id: :userd_deleted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
